.home-container{
    height: 500px;
    width: 100%;
   display: flex;
   justify-content: space-between;
   text-align: center;
}
.reviews-section{
    height: 500px;
    width: 100%;
    text-align: center;
    font-size: large;
}


.button{
   
    background-color: palevioletred;
    width: 200px;
    margin: 0 auto;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    padding-top: 10px;
}

